<p><%= flash[:message] %></p>

<div class="well">  
  <%= form_for @cohort, :html => {class:"form-horizontal"} do |f| %>
  <fieldset>
    <legend>Create a new Cohort</legend>

      <div class="form-group">
        <%= f.label :name, "Name", class:"col-lg-2 control-label" %>
        <div class="col-lg-10">
          <%= f.text_field :name, class:"form-control", autofocus: true, placeholder: "Name"  %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :roster_csv, "Roster CSV File", class:"col-lg-2 control-label" %>
        <div class="col-lg-10">
          <%= f.file_field :roster_csv, class:"form-control" %>
        </div>
      </div>

    <%= f.submit "Create Cohort", class:"btn btn-primary" %>

    <% if @cancel_button != false %>
      <%= link_to 'Cancel', :back, class:"btn btn-primary" %>
    <% end %>

  </fieldset>
  <% end %>
</div>