<%= form_for Cohort.new do |f|  %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.submit %>
<% end %>




<ul>

<% @cohorts.each do |cohort| %>
 <li> <%= link_to(cohort.name, cohort_path(cohort)) %></li>
<% end %>

</ul>