<h1>Name:</h1>  <%= @student.name  %>
<p>
<h3>email:</h3><%= @student.email %>
<p>
<h3>Github:</h3><%= @student.github_username %>
<p>
<h3>Cohort:</h3><%= link_to(@cohort.name, cohort_path(@cohort)) %>

<%= link_to 'delete', student_path(@student), method: 'delete', data: {confirm: "Are you sure you want to delete this student?"} %>
